

html,body {
    height:100%;
    margin: 0;
    padding: 0;
}

#app, #graph-container {
    min-height: 100%;
}

.scrollable {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.controls {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
}


.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid rgb(0, 150, 136);
    border-radius: 60%;
    width: 60px;
    height:60px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.information {
    margin-top: 20px;
    padding: 0;
    color: white;
}

#cy {
    height: 100%;
    padding:0;
}
