/* Declare a color palette based on http://designmodo.github.io/Flat-UI/ */
html {
    --turquoise: #1ABC9C;
    --green-sea: #16A085;
    --emerald: #2ECC71;
    --nephritis: #27AE60;
    --peter-river: #3498DB;
    --belize-hole: #2980B9;
    --amethyst: #9B59B6;
    --wisteria: #8E44AD;
    --wet-asphalt: #34495E;
    --midnight-blue: #2C3E50;
    --sun-flower: #F1C40F;
    --orange: #F39C12;
    --carrot: #E67E22;
    --pumpkin: #D35400;
    --alizarin: #E74C3C;
    --pomegranate: #C0392B;
    --clouds: #ECF0F1;
    --silver: #BDC3C7;
    --concrete: #95A5A6;
    --asbestos: #7F8C8D;
}

html, body, #app {
    height:100%;
    margin: 0;
    padding: 0;
}

.columns {
    margin: 0;
    height: 100%;
}

.column {
    height: 100%;
}

#sidenav {
    background-color: var(--clouds); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

#sidenav .left-margin {
    margin-left: 30px;
}

#sidenav .control {
    margin-bottom: 20px;
}

#sidenav .control div {
    margin-top: 5px;
    margin-bottom: 5px;
}

#sidenav .information {
    color: white;
} 

#main {
    padding: 0px;
}

#main svg {
    height: 100%;
    width: 100%;
}

